.bg-darkbrown {
    background-color: #75584d; 
  }
  .navs{margin-right: 3vw;}
  .navss{
        border-radius: 40px;
        background-color: aliceblue;
}
.navss:hover{
    scale: 1.3;
    transition: .7s;
    margin-right: -10px;
}
  .navs:hover{
    color: aliceblue;
    scale: 1.3;
    transition: .7s;
  }
  footer{
    position: relative;
    
  }